In [3]:
import pandas as pd
import numpy as np

In [4]:
#importing text documents
events = pd.read_csv("Event_Codes.txt", sep = '\t')
lineups = pd.read_csv("Game_Lineup.txt", sep = '\t')

#sorting play by play as suggested in pdf
playbyplay = pd.read_csv("Play_by_Play.txt", sep = '\t').sort_values(['Game_id',
                                                                           'Period', 
                                                                           'PC_Time',
                                                                           'WC_Time',
                                                                           'Event_Num'],
                                                                          ascending = [0, 1, 0, 1, 1])

In [5]:
events.head()

,Event_Msg_Type,Action_Type,Event_Msg_Type_Description,Action_Type_Description
0,1,0,Made Shot,No Shot
1,1,1,Made Shot,Jump Shot
2,1,2,Made Shot,Running Jump Shot
3,1,3,Made Shot,Hook Shot
4,1,4,Made Shot,Tip Shot

In [18]:
playbyplay.head()

,Game_id,Event_Num,Event_Msg_Type,Period,WC_Time,PC_Time,Action_Type,Option1,Option2,Option3,Team_id,Person1,Person2,Person3,Team_id_type,Person1_type,Person2_type,Person3_type
37396,ff42c1cba89fd3f3a7a6711a11d5576d,2,12,1,510450,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
37397,ff42c1cba89fd3f3a7a6711a11d5576d,4,10,1,510460,7200,0,0,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,8d2127290c94bd41b82a2938734bc750,99104de2626f67c1fa2ce70504970c3f,42e0d7167f04a4ff958c6442da0e6851,2,4,5,4
37398,ff42c1cba89fd3f3a7a6711a11d5576d,7,2,1,510580,7070,79,2,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,c5dd5b2e3b975f0849d9b74e74125cb9,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,2,4,0,0
37399,ff42c1cba89fd3f3a7a6711a11d5576d,8,4,1,510610,7030,0,0,0,0,01be0ad4af7aeb1f6d2cc2b6b6d6d811,99104de2626f67c1fa2ce70504970c3f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,2,5,0,0
37400,ff42c1cba89fd3f3a7a6711a11d5576d,9,1,1,510660,6980,1,3,1,0,45ba8fc87f55b1191c50c400dc7ed11c,616281dee946056b071699476fdee9ec,d81d912f81fa43178f423aa89a713e96,0370a0d090da0d0edc6319f120187e0e,3,5,5,0

In [10]:
lineups.head()

,Game_id,Period,Person_id,Team_id,status
0,006728e4c10e957011e1f24878e6054a,0,ae53f8ba6761b64a174051da817785bc,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
1,006728e4c10e957011e1f24878e6054a,0,44230324724c84f122ac62a5f0918314,45ba8fc87f55b1191c50c400dc7ed11c,A
2,006728e4c10e957011e1f24878e6054a,0,8d2127290c94bd41b82a2938734bc750,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
3,006728e4c10e957011e1f24878e6054a,0,48ec4e6c52f418d5ca4ef510ba473ea0,45ba8fc87f55b1191c50c400dc7ed11c,A
4,006728e4c10e957011e1f24878e6054a,0,e816ff284dc3f965b8f3d605a3b91bae,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A

In [17]:
# these should all be 10 which it looks like they are
lineups[(lineups.status=='A') & (lineups.Period!=0)].groupby(by=['Game_id','Period']).count()

                                         Person_id  Team_id  status
Game_id                          Period
006728e4c10e957011e1f24878e6054a 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
03ac65b9a32fde1e201bfb427f6e41e4 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
096e231adad0be6ab1cc89cce56847f8 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
117a5a71c34c2d8a39ff66d884462bd7 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
1ea0a33aafb4a3cb31ba79cff049300c 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
1ef70f0ed41e6862e3860613e3f21054 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
25a5ddd58e1b7af731e179e2f98ed42f 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
27caeb326b241334bfb308787974f959 1              10       10      10
                                 2              10       10      10
...                                            ...      ...     ...
e4ea5ad257a30f4a3c06683e0186bd6d 3              10       10      10
                                 4              10       10      10
e9db074d4b4bb862dde70d545e3ac13f 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
ea198bf717f42cdfc94c577faaf39666 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
ed95a454eee025e4b93e217ad6a578f1 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
efca551b622ff96393fb43947e1aad4b 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
f280a671f82eb32b48f00116b8956445 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
f959bc122b1ee996f3e12bc61c068ad4 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10
ff42c1cba89fd3f3a7a6711a11d5576d 1              10       10      10
                                 2              10       10      10
                                 3              10       10      10
                                 4              10       10      10

[332 rows x 3 columns]

In [19]:
df = playbyplay.merge(lineups,
                     left_on='Game_id',
                     right_on='Game_id')

In [20]:
len(df)

2672640

In [21]:
len(playbyplay)

37889

In [24]:
len(df) / len(playbyplay) # seems ok

70.53867877220301